{{ 'featured-collection-slider.css' | asset_url | stylesheet_tag }}

{% comment %}
  This section is used to display a slider of products from a collection.
{% endcomment %}

{% assign collection = collections[section.settings.collection] %}

{% if collection %}
  <div class="section-header text-center">
    <h2>{{ section.settings.title }}</h2>
  </div>

  <div class="featured-collection-slider">
    <div class="featured-collection-slider__wrapper">
      {% for product in collection.products %}
        <div class="featured-collection-slider__item">
          {% render 'card-product', product: product %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<script src="{{ 'featured-collection-slider.js' | asset_url}}" defer></script>

{% schema %}
{
  "name": "Feat collection slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Feat collection slider",
      "category": "Featured",
      "settings": {
        "title": "Featured collection",
        "collection": "frontpage"
      }
    }
  ]
}
{% endschema %}

{